name: ci

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    uses: tty-pt/ci/.github/workflows/all-in-one.yml@main
    with:
      name: libqllm
      deps: "libqsys,libqmap,libndc,libvulkan-dev,vulkan-tools,glslang-tools,cmake,wget"
      deps_pacman: "libqsys,libqmap,libndc,vulkan-headers,vulkan-icd-loader,vulkan-tools,glslang,cmake,wget"
      deps_pacman_mingw: "mingw-w64-libqsys,mingw-w64-libqmap,mingw-w64-libndc"
      deps_aur_mingw: "mingw-w64-vulkan-headers,mingw-w64-vulkan-icd-loader,mingw-w64-vulkan-tools,mingw-w64-glslang,mingw-w64-cmake,wget"
      deps_apk: "libqsys,libqmap,libndc,vulkan-loader,vulkan-loader-dev,vulkan-headers,vulkan-tools,cmake,xz,wget"
      deps_rpm: "libqsys,libqmap,libndc,vulkan-headers,vulkan-loader,vulkan-loader-devel,vulkan-tools,glslang,cmake,wget,g++"
      deps_brew: "libqsys,libqmap,libndc,cmake,libomp"
      publish_to: "deb,pacman,rpm,brew,pacman_mingw"
    secrets:
      HOST: ${{ secrets.OPENBSD_HOST }}
      USER: ${{ secrets.OPENBSD_USER }}
      SSH_KEY: ${{ secrets.OPENBSD_SSH_KEY }}
      GPG_PRIVATE_KEY: ${{ secrets.OPENBSD_GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.OPENBSD_GPG_PASSPHRASE }}
      GPG_KEYID: ${{ secrets.OPENBSD_GPG_KEY_ID }}
      ABUILD_PRIVATE_KEY: ${{ secrets.ABUILD_PRIVATE_KEY }}
      ABUILD_PUBLIC_KEY: ${{ secrets.ABUILD_PUBLIC_KEY }}
      TAP_TOKEN: ${{ secrets.TAP_TOKEN }}
